<div class="form-group">
  <label class="form_heading"><%= question.statement %></label>
  <div class="form-group">
    <input type="text" value="7" class="form-control show_ans_box answer" readonly>
  </div>

  <select class="form-control">
    <option class="select_option">7</option>
    <option class="select_option">1</option>
    <option class="select_option">2</option>
    <option class="select_option">3</option>
  </select>
</div>
