<h3 class="Find_your_clan mt-4">Find your clan and sit together!</h3>
<div class="row calns_row">
  <div class="col-sm-12">
    <% if team.present? %>
        <ul class="list-group clans <%= team.name %>">
          <li class="list-group-item clan_heading"><%= team.name&.titleize %> Clan</li>
          <% team.students.each do |student| %>
              <li class="list-group-item"><%= student.name&.titleize %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div><!--/row-->

<div class="text-center">
                            <span class="btn primery-gradient-l-r student_button">
                              <%= link_to 'Get Ready', 'javascript:void(0)' %>
                            </span>
</div>

