<div class="mt-5 mb-5 text-center"><%= image_tag 'escape_monster.png' %></div>

<div class="enter_name_code">

  <h2 class="yellow_text">Creating Clans</h2>

</div>


<footer class="footer_1">
  Sharpen Pencils and Get Ready

</footer>

</div>
<script>
    teamNotify('<%= @student.id %>')
</script>