<div class="container inner_container">

  <h3 class="inner_heading">Signed in kidsters(up to 36)</h3>

  <div class="student_with_device">
    <div class="row m-0" data-chat-room='students'>
      <%= render partial: 'games/active_students', locals: {students: @game.students} %>
    </div>


  </div>

  <div class="row mt-2">
    <div class="col-sm-6">
      <h4 class="inner_heading"><strong><%= @game.missing_devices %></strong> kidsters without a device</h4></div>
    <div class="col-sm-6 text-right">
  <span class="outer_btn primery-gradient-l-r">
  <%= link_to 'Assign to Clan', team_assigmnent_game_path(@game) %>
  </span>
    </div>


  </div>


</div><!--container-fluid-->

<script>
    studentNotify("<%== @game.id %>")
</script>