<div class="inner_banner primery-gradient-l-r">

  <div class="container">
    <div class="row">

      <div class="col-md-6">

        <div class="faq ">
          <h2>Frequently Asked Questions</h2>

          <div class="f-question">
            <p>What if my students don't all have phones?</p>
            <h3>Only one device is needed for each team. Computers and tablets work, as well.</h3>
          </div>

          <div class="f-question">
            <p>What should I do if my students can't solve the puzzles?</p>
            <h3>Each game comes with a comprehensive answer key so that the teacher can provide help as they
              prefer.</h3>
          </div>


          <div class="f-question">
            <p>Are games only meant for students of a specific grade?</p>
            <h3>Although game content is grade specific, older students enjoy puzzles of younger age material.</h3>
          </div>


          <div class="f-question">
            <p>When will more games be available?</p>
            <h3>We are always working on new content. Contact us to join our mailing list!</h3>
          </div>


        </div><!--/faq-->

      </div><!--/col-6-->


      <div class="col-md-6">
        <form class="contact_us col-lg-10 float-right p-0">

          <h1>Contact Us</h1>

          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="School">
          </div>

          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
          </div>

          <div class="form-group">
              <textarea placeholder="Your addrdg dfda gagess..">
                </textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>

        </form>
      </div>


    </div>
  </div><!--/container-->


</div><!--/inner_banner-->