<div class="container teams_container">
  <div class="row mb-3">
    <div class="col-md-8"><h3 class="inner_heading">How it Works?</h3></div>

    <div class="col-md-4">
      <div class="text-center game_time">

        <a href="#"><%= image_tag 'plus.png' %></a>
        30 minutes
        <a href="#"><%= image_tag 'minus.png' %></a>
      </div>
    </div>
  </div><!--/row-->

  <p class="how_works_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book.
    <br> <br>
    Completely unleash future-proof sources with holistic vortals. Enthusiastically reconceptualize end-to-end core
    competencies before plug-and-play partnerships. Phosfluorescently unleash prospective.

  </p>


  <div class="text-right">
  <span class="outer_btn text-center primery-gradient-l-r">
    <%= link_to 'Start Game', start_game_path(@game) %>
  </span>
  </div>


</div><!--container-fluid-->