<%= form_with model: @game do |f| %>
    <div class="device_info row">
      <div class="col-sm-6 text-right">How many kidsters do not have a mobile device?</div>
      <div class="col-sm-6 text-left">
        <%= f.text_field :missing_devices, class: 'form-control' %>
      </div>
    </div>


    <div class="text-center">
  <span class="outer_btn primery-gradient-l-r my-5">
    <%= f.submit 'Next' %>
  </span>
    </div>
<% end %>

<div class="text-center em_play">
  <%= link_to 'http://escapemonster.play/', 'javascript:void(0);' %>
</div>