<div class="mt-5 mb-5 text-center"><%= image_tag 'escape_monster.png' %></div>

<div class="enter_name_code">

  <h2 class="yellow_text">Please Wait....</h2>

</div>



</div>
<script>
    <% @game.teams.each do |team|%>
    startGame('<%= team.id%>')
    <% end %>
</script>