
body{
  font-family: gotham-regular;
}

@font-face {
  font-family: gotham-regular;
  src: url('gotham-regular.ttf') format('truetype');
}



@font-face {
  font-family: gotham-bold;
  src: url('gotham-bold.ttf') format('truetype');
}

html {
  position: relative;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  background: #eee;
  height: 100%;
}

/***********************Style**********************/

img {
  max-width: 100%;
  height: auto;
}

.light_bg {
  background: rgba(245, 242, 246, .75);
  padding: 40px 0;
  margin-top: 40px;
}

.primery-color {
  color: #7d32dd;
}

.primery-gradient-l-r {
  background-image: linear-gradient(to left, #AB41D1 0%, #6B2BDC 100%);
  border: none;
}

.main_container {
  margin: auto;
  max-width: 500px;
  background: #fff;
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  position: relative;
}

.enter_name_code {
  text-align: center;
  max-width: 300px;
  margin: auto;
}

.enter_name_code h2 {
  color: #555555;
}

.enter_name_code input {
  text-align: center;
  font-size: 22px;
  border: 0;
  border-bottom: 2px solid #979797;
  letter-spacing: 10px;
  font-size: 30px;
  width: 100%;
  margin: 15px 0;
}

.student_name {
  letter-spacing: normal !important;
  text-align: left !important;
}

.student_button {
  width: 150px;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  font-size: 20px;
  margin-top: 25px;
}

.student_button button {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  background: none;
  border: none;
}

.student_button a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  background: none;
  border: none;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 60px;
  width: 100%;
  transition: all 0.15s ease-out 0s;
  background-color: #8292a5 !important;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 1000;
}

.dir_up {
  background: image_url('direction_up.png') center no-repeat;
}

.dir_down {
  background: image_url('direction_down.png') center no-repeat;
}

.dir_right {
  background: image_url('direction_right.png') center no-repeat;
}

.dir_left {
  background: image_url('direction_left.png') center no-repeat;
}

.option-input:hover {
  background-color: #a457d9 !important;
}

.option-input:checked {
  background-color: #a457d9 !important;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.footer_1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #3E3D3D;
  background: #F1ECF5;
  left: 0;
}

.Find_your_clan {
  font-size: 22px;
  color: #626261;
  font-family: gotham-bold;
}

.clans.blue {
  background: rgba(140, 186, 232, .20);
}

.clans.blue .clan_heading {
  background: rgb(140, 186, 232);
}

.clans li {
  background: none
}

.clan_heading {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 16px;
  color: #fff;
}

.header {
  width: calc(100% + 30px);
  border-bottom: 1px solid #ddd;
  margin-left: -15px;
}

.header td {
  padding: 15px 10px;
}

.header td strong {
  font-size: 20px;
  font-family: gotham-bold;
}

.score_clan {
  margin: auto;
  width: 90%;

}

.score_clan table {
  border-radius: 3px;
}

.score_clan table td {
  font-size: 26px;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0;
}

.score_clan table td.active {
  border-bottom: 2px solid rgb(164, 87, 217);
}

.lock_img {
  max-height: 30px;
  vertical-align: sub;
}

.form_heading {
  color: #444444;
  font-size: 20px;
}

.score_clan .form-group {
  margin-bottom: 25px;
}

.score_clan .form-group select {
  height: 45px !important;
}

.Scream {
  margin: 40px 0;
  text-align: center
}

.Scream a {
  width: 150px;
  text-align: center;
  border-radius: 40px;
  color: #555555;
  font-size: 18px;
  border: 1px solid #979797;
  display: inline-block;
  text-decoration: none;
}

.hint_show {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #3E3D3D;
  text-align: center;
}

.hint_show strong {
  font-family: gotham-bold;

}

.thums_up {
  margin-top: 15%;
}

.thums_up p {
  margin-top: 40px;
  font-size: 26px;
  color: #353434;
}

.show_ans_box {
  height: 45px;
  border: 2px solid rgba(160, 85, 225, 0.61) !important;
  background-color: transparent !important;
  font-size: 22px;
}

.yellow_text {
  color: #DDAA3F
}
